/* .App {
  text-align: center;
} */

.search-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-field {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.container {
  width: 400px;
  margin: 20px auto;
  border: 1px solid slategray;
  padding: 30px;
}